<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <header>

        <div class="barra-header-top">
            <img src="images/logoml.svg" alt="Mercado Liebre" class="logo">
            <h4 class="texto-header">
                <i class="fas fa-hand-holding-usd"></i>Compré en cuotas y sin tarjetas de créditos</h4>
        </div>

        
        <a href="" class="botonburguesa">
            <i class="fas fa-bars background-burguer" ></i>
        </a>
        

      <!--  <div class="barraBusqueda">
            <input type="search" id="site-search" name="q"
            placeholder="Buscar productos, marcas ">
            <button><i class="fas fa-search" class="botón"></i></button>
        </div>  -->

         
        <nav class="barra-header-bottom">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ofertas</a></li>  
            </ul>
        
            <ul>
                <li><a href="">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
       
        
    </header>
    
    <main>
        <img src="images/banner.jpg" alt="banner Mercado Liebre" class="banner">
        <h2>Basado en tu última visita</h2>    
        <section class="ultimaVisita display">               

                <article class="pr1">                   
                        <img src="images/cafetera.jpg" alt="Cafetera">
                        <div class="envios"><i class="fas fa-truck camion"></i></div>
                    <div class="articulos">                        
                        <div class="contenedorpadre ">
                            <h6 class="precio">$6.770</h6>
                        <h5 class="descuento">40% OFF</h5>
                        </div>
                        <h5 class="descripcion">Cafetera Moulinex</h5>
                    
                    </div>
                </article >

                <article class="pr2">                   
                        <img src="images/macbook.jpg" alt="MacBook">
                        <div class="envios"><i class="fas fa-truck camion"></i></div>
                <div class="articulos">
                    <div class="contenedorpadre">   
                    <h6 class="precio">$230.000</h6>
                    
                        <h5 class="descuento">20% off</h5>
                    </div>
                        <h5 class="descripcion">MacBook Pro 2019</h5>
                   
                </div>
                </article>

                <article class="pr3">                   
                        <img src="images/celusg.jpg" alt="Celular">  
                        <div class="envios"><i class="fas fa-truck camion"></i></div>
                <div class="articulos"> 
                    <div class="contenedorpadre ">    
                    <h6 class="precio">$70.500</h6>
                    
                        <h5 class="descuento">10% off</h5>
                    </div>
                        <h5 class="descripcion">Samsung Galaxy S10</h5>
                    
                </div>
                </article>

                <article class="pr4">                   
                        <img src="images/tvsg.jpg" alt="Televisor">
                        <div class="envios"><i class="fas fa-truck camion"></i></div>
                <div class="articulos">
                    <div class="contenedorpadre">
                    <h6 class="precio">$23.200</h6>
                    
                         <h5 class="descuento">5% off</h5>
                        </div>
                         <h5 class="descripcion">SmartTv Samsung 43"</h5>
                    
                </div>
                </article>
            </section>

            <h2>Ofertas</h2>
            <section class="ofertas display">
                
                <article class="pr1">                   
                    <img src="images/cafetera.jpg" alt="Cafetera">
                    <div class="envios"><i class="fas fa-truck camion"></i></div>
                <div class="articulos">
                    
                    <div class="contenedorpadre ">
                    <h6 class="precio">$6.770</h6>
                    <h5 class="descuento">40% OFF</h5>
                    </div>
                    <h5 class="descripcion">Cafetera Moulinex</h5>
                
                </div>
            </article>

            <article class="pr2">                   
                    <img src="images/macbook.jpg" alt="MacBook">
                    <div class="envios"><i class="fas fa-truck camion"></i></div>
            <div class="articulos">
                <div class="contenedorpadre">  
                <h6 class="precio">$230.000</h6>
                
                    <h5 class="descuento">20% off</h5>
                </div>
                    <h5 class="descripcion">MacBook Pro 2019</h5>
               
            </div>
            </article>

            <article class="pr3">                   
                    <img src="images/celusg.jpg" alt="Celular">  
                    <div class="envios"><i class="fas fa-truck camion"></i></div>
            <div class="articulos"> 
                <div class="contenedorpadre ">    
                <h6 class="precio">$70.500</h6>
                
                    <h5 class="descuento">10% off</h5>
                </div>
                    <h5 class="descripcion">Samsung Galaxy S10</h5>
                
            </div>
            </article>

            <article class="pr4">                   
                    <img src="images/tvsg.jpg" alt="Televisor">
                    <div class="envios"><i class="fas fa-truck camion"></i></div>
            <div class="articulos">
                <div class="contenedorpadre">
                <h6 class="precio">$23.200</h6>
                
                     <h5 class="descuento">5% off</h5>
                    </div>
                     <h5 class="descripcion">SmartTv Samsung 43"</h5>
                
            </div>
            </article>
        </section>
            </section>

    </main>

    <footer>
        <section class="contenedor-footer">
        <article>
            <div class="icon"><i class="fas fa-credit-card" ></i></div>
            <h4 class="titulo">Pagá con tarjeta o en efectivo</h4>
            <p class="textito">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>

        <article>
            <div class="icon"><i class="fas fa-gift" ></i></div>
            <h4 class="titulo">Envío gratis desde $ 2.500</h4>
            <p class="textito">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>

        <article>
            <div class="icon"><i class="fas fa-user-shield" ></i></div>
            <h4 class="titulo">Seguridad, de principio a fin</h4>
            <p class="textito">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>

        <p class="textito">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
    </footer>

</body>
</html>